<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>LOST IN MMU?</title>
</head>
<body>
    <header>
        <h1>LOST IN MMU?</h1>
    </header>
    <main class = "forgot-bg">
      <div class="forgot-form">
      <h2>Forgot Password</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash flash-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

      <form method="POST" >
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Send Reset Link</button>
      </form>

      <p> 
        <a href="{{ url_for('auth.login') }}">Back to Login</a>
      </p>
      </div>
    </main>
</body>
</html>