<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>LOST IN MMU?</title>
</head>
<body>
    <header>
        <h1>LOST IN MMU?</h1>
    </header>
<body>
  <main class="register-bg">
    <div class="register-form">
      <h2>Register</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <p style="color: red;">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

        <form method="POST">
            <label>Full Name:</label>
            <input type="text" name="name" required><br><br>

            <label>Email:</label>
            <input type="email" name="email" required><br><br>

            <label>Username:</label>
            <input type="text" name="username" required><br><br>

            <label>Password:</label>
            <input type="password" name="password" required><br><br>

            <label>Confirm Password:</label>
            <input type="password" name="confirm_password" required><br><br>

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
  </main>
</body>
</html>
